.App{
  height: 100vh;
  width: 100%;
  background: #212121;
  color:white;
  display: flex;
  align-items: center;
}

.App > *{
  flex: 1;
}

.App .blurred{
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .blurred img{
  height: 60vh;
  /* filter: blur(5px); */
}